<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6HXFDS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {{>menu-bar}}
    <div id="app" class="m-0 flex flex-col min-h-screen">
        {{>header}}
        {{>main}}
        {{>footer}}
    </div>
    <script type="module" src="{{scriptBottom}}"></script>
</body>