<<<<<<< HEAD
footer
  ul.text-white
    li Далеко-далеко за словесными горами в стране.
    li Речью пор свою переписывается своих.
    li Рекламных большого составитель реторический имеет!
    li Взобравшись родного вершину страна буквенных?
=======
footer.footer
  .bg-indigo-300
    h2 wtf
    include ../components/nav-bar
>>>>>>> ee01ec0d06ccb958a07e5a1a10867019ddf5ebc8
