footer
  ul.text-white
    li Далеко-далеко за словесными горами в стране.
    li Речью пор свою переписывается своих.
    li Рекламных большого составитель реторический имеет!
    li Взобравшись родного вершину страна буквенных?