<head>
  <!-- Google Adsense -->
  <!-- <script data-ad-client="ca-pub-4308789351243384" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
  <!-- End Google Adsense -->
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CRF15W21BY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CRF15W21BY');
</script>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <link rel="canonical">
  <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86" />
  <meta name="description" content="{{pageDesc}}" />
  <meta name="yandex-verification" content="a194e90f164102ad" />
  <base href="/" />
  <title>{{title}}</title>
</head>