<head>
  <!-- Google Adsense -->
  <!-- <script data-ad-client="ca-pub-4308789351243384" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
  <!-- End Google Adsense -->
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86" />
  <meta name="description" content="{{pageDesc}}" />
  <title>{{title}}</title>
</head>