<svg class="icon">
  <use xlink:href="#hamburger_round"></use>
</svg>
<svg class="icon">
  <use xlink:href="#x_round"></use>
</svg>
<svg class="icon">
  <use xlink:href="#bank_icon"></use>
</svg>
<svg class="icon">
  <use xlink:href="#face_icon"></use>
</svg>
<svg class="icon">
  <use xlink:href="#flag_icon"></use>
</svg>
<svg class="icon">
  <use xlink:href="#hands_icon"></use>
</svg>
<svg class="icon">
  <use xlink:href="#money_icon"></use>
</svg>
<svg class="icon">
  <use xlink:href="#sells_icon"></use>
</svg>
<svg class="icon">
  <use xlink:href="#speed_icon"></use>
</svg>