@import url(./about.css);

@font-face {
  font-family: "Gilroy-Bold", sans-serif;
  src: url(/fonts/Gilroy-Bold.woff);
}
@font-face {
  font-family: "Gilroy-Medium", sans-serif;
  src: url(/fonts/Gilroy-Medium.woff);
}
@font-face {
  font-family: "Gilroy-SemiBold", sans-serif;
  src: url(/fonts/Gilroy-SemiBold.woff);
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url(/fonts/inter-v11-latin_cyrillic-regular.woff2);
}
@font-face {
  font-family: "Inter-m", sans-serif;
  src: url(/fonts/inter-v11-latin_cyrillic-500.woff2);
}
@font-face {
  font-family: "Inter-sb", sans-serif;
  src: url(/fonts/inter-v11-latin_cyrillic-600.woff2);
}
@font-face {
  font-family: "Inter-xb", sans-serif;
  src: url(/fonts/inter-v11-latin_cyrillic-800.woff2);
}

html {
  font-size: 16px;
}

body {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  @apply bg-primary text-secondary;
}
body h1 {
  @apply text-green-500;
}
body h2 {
  @apply text-blue-400;
}

#app {
  font-family: Gilroy, sans-serif;
}
.menu_button {
  @apply lg:hidden;
}
.menu-icon {
  @apply w-10 h-10;
}
.hero {
  @apply flex justify-between items-center h-70vh bg-secondary px-4;
}
.hero_text {
  font-family: Inter, sans-serif;
  @apply font-extrabold flex flex-col items-center justify-evenly h-4/5;
}
.hero_text__description {
  @apply font-normal text-center text-xl mt-6 md:max-w-2/3;
}
.hero_left-img .hero_right-img {
  @apply w-1/3 h-screen-md;
}
.decor {
  @apply hidden lg:block relative;
}
.screen {
  @apply flex flex-col items-center px-4 justify-between gap-8;
}
.screen_header {
  @apply text-center mt-16;
}
.screen_cards {
  @apply mt-8 max-w-screen-lg grid lg:grid-cols-2 grid-rows-2 justify-items-center gap-8;
}
.screen_cards__card {
  @apply p-8 font-base border border-secondary rounded-lg hover:shadow-2xl transition flex flex-col justify-between;
}
.screen_cards__card-header {
  @apply flex gap-4 items-center;
}
.screen_cards__card-text {
  @apply my-6;
}
.screen_cards__card-link {
  @apply text-base hover:text-primary hover:underline;
}
.btn {
  @apply bg-primary hover:bg-transparent hover:text-primary transition duration-200 hover:border-primary text-secondary font-semibold px-6 py-3 border-3 border-primary hover:border-3 rounded-lg;
}
.portfolio_header {
  @apply justify-between gap-16;
}