<div class="hero" id="hero">
  <div class="hero_left-img">
    <div class="decor">
      <div class="w-16rem h-9rem bg-primary"></div>
      <div class="w-9rem h-16rem bg-primary"></div>
      <picture class="absolute w-16rem h-10rem top-18 left-6">
        <source type="image/webp" srcset="/img/small-first-prev/small-funiro-first.webp" alt="Пример сайта" />
        <img src="/img/small-first-prev/small-funiro-first.jpg" width="256" height="138" alt="Пример сайта" class="" />
      </picture>
    </div>
  </div>
  <div class="hero_text">
    <h1 class="lg:pl-8 xl:pl-0 text-center text-primary text-2xl xs:text-4xl md:text-5xl xl:text-7xl xl:max-w-2xl flex flex-col"><span class="text-common">
        Разработка
      </span>
      web сайтов
      {{!-- <span class="text-common">
        под ключ
      </span> --}}
      </h1>
    <h2 class="md:max-w-sm lg:max-w-md text-center md:text-xl lg:text-2xl mt-4">Рассказывайте о Вашей работе и находите новых клиентов</h2>
    <p class="hero_text__description">  </p>
    <section class="flex flex-wrap p-4 h-full items-center" x-data="{ 'showModal': false }" @keydown.escape="showModal = false" x-cloak>
      <button class="btn" @click="showModal = true" type="button">Заказать сайт</button>
      {{>modal formId="heroForm"}}
    </section>
    <section class="flex flex-wrap p-4 h-full items-center" x-data="{ 'showThank': false }" @keydown.escape="showThank = false" x-cloak>
      {{>thank}}
    </section>
  </div>
  <div class="hero_right-img">
    <div class="decor">
      <div class="w-9rem h-16rem bg-primary relative -right-7rem"></div>
      <div class="w-16rem h-9rem bg-primary"></div>
      <picture class="bg-dbco absolute w-18rem h-10rem bottom-22 right-6">
        <source type="image/webp" srcset="/img/small-first-prev/small-dbco-first.webp" alt="Пример сайта" />
        <img src="/img/small-first-prev/small-dbco-first.jpg" width="288" height="186" alt="Пример сайта" class="" />
      </picture>
    </div>
  </div>
</div>