<div class="hero">
  <div class="hero_left-img">
    <div class="decor">
      <div class="w-16rem h-9rem bg-primary"></div>
      <div class="w-9rem h-16rem bg-primary"></div>
      <div class="bg-dbco absolute w-18rem h-10rem top-6 left-6">
        <img
          src="/img/screen1-funiro.png"
          alt="Пример сайта"
          class=""
        />
      </div>
    </div>
  </div>
  <div class="hero_text">
    <h1 class="text-primary text-7xl">Landing Page</h1>
    <h2 class="text-4xl mt-4">с админкой под ключ</h2>
    <p class="font-normal text-center text-xl mt-6 max-w-1/2">Какой нибудь текст с преимуществами выбора Далеко-далеко
      за словесными горами в стране, гласных и согласных живут рыбные тексты..</p>
    <button class="btn">Рассчитать цену</button>
  </div>
  <div class="hero_right-img">
    <div class="decor">
      <div class="w-9rem h-16rem bg-primary relative -right-7rem"></div>
      <div class="w-16rem h-9rem bg-primary"></div>
      <div class="bg-dbco absolute w-18rem h-10rem bottom-6 right-6">
        <img
          src="/img/screen1-dbco.png"
          alt="Пример сайта"
          class=""
        />
      </div>
    </div>
  </div>
</div>