<div class="hero">
  <div class="hero_left-img">
    <div class="decor">
      <div class="w-16rem h-9rem bg-primary"></div>
      <div class="w-9rem h-16rem bg-primary"></div>
      <picture class="absolute w-18rem h-10rem top-6 left-6">
        <source type="image/webp" srcset="/img/funiro-first.webp" alt="Пример сайта" />
        <img src="/img/funiro-first.jpg" alt="Пример сайта" class="" />
      </picture>
    </div>
  </div>
  <div class="hero_text">
    <h1 class="text-center text-primary text-4xl md:text-5xl xl:text-7xl">Разработка<br />сайта визитки</h1>
    <h2 class="text-2xl mt-4">под ключ</h2>
    <p class="hero_text__description">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные
      тексты..</p>
    <button class="btn">Рассчитать цену</button>
  </div>
  <div class="hero_right-img">
    <div class="decor">
      <div class="w-9rem h-16rem bg-primary relative -right-7rem"></div>
      <div class="w-16rem h-9rem bg-primary"></div>
      <picture class="bg-dbco absolute w-18rem h-10rem bottom-12 right-6">
        <source type="image/webp" srcset="/img/dbco-first.webp" alt="Пример сайта" />
        <img src="/img/dbco-first.jpg" alt="Пример сайта" class="" />
      </picture>
    </div>
  </div>
</div>