nav.nav
<<<<<<< HEAD
  ul.bg-dark-50.flex.gap-3.items-center
    li.bg-orange-200
      a(href='/index.html') Home
    li(class="bg-light-blue-600")
      a(href='/pages/about.html') About
    li(class="")
      a(href='/pages/some.html') Some page
    li
=======
  ul.bg-dark-50
    li(class="hover:bg-gray-900 hover:text-gray-50 text-amber-600").bg-fuchsia-600
      a(href='/index.html') Home page
    li(class="hover:bg-gray-900 hover:text-gray-50 text-amber-600 bg-yellow-300")
      a(href='/pages/about.html') About
    li(class="hover:bg-gray-900 hover:text-gray-50 text-amber-600 bg-green-400")
      a(href='/pages/some.html') Smile
    li(class="hover:bg-gray-900 hover:text-gray-50 text-amber-600 bg-sky-400")
>>>>>>> ee01ec0d06ccb958a07e5a1a10867019ddf5ebc8
      a(href='#!') Contacts
