nav.nav
  ul.bg-dark-50
    li.bg-orange-200
      a(href='/index.html') Home
    li(class="bg-light-blue-600")
      a(href='/pages/about.html') About
    li(class="")
      a(href='/pages/some.html') Some
    li
      a(href='#!') Contacts
