<nav class="md:hidden self-end" x-data="{open: false}">
  <button aria-label="Показать меню" class="menu_button" @click="open = ! open">
    <svg class="menu-icon transition" x-show="!open" x-transition:enter.delay.25ms>
      <use xlink:href="#hamburger_round"></use>
    </svg>
    <svg class="menu-icon transition" x-show="open" x-transition:enter.delay.25ms>
      <use xlink:href="#x_round"></use>
    </svg>
  </button>
  <ul
    class="flex-col z-10 flex justify-center absolute right-0 bg-secondary w-screen h-screen px-4 text-center gap-y-10"
    x-show="open"
    x-transition
  >
    <li class="min-h-12 hover:text-primary border-2 rounded-2xl"><a href="/index.html" class="block py-4 min-h-12">Home page</a></li>
    <li class="min-h-12 hover:text-primary border-2 rounded-2xl"><a href="/pages/about.html" class="block py-4 min-h-12">About</a></li>
    <li class="min-h-12 hover:text-primary border-2 rounded-2xl"><a href="/pages/some.html" class="block py-4 min-h-12">Smile</a></li>
    <li class="min-h-12 hover:text-primary border-2 rounded-2xl"><a href="#!" class="block py-4 min-h-12">Contacts</a></li>
    <li class="min-h-12 hover:text-primary border-2 rounded-2xl"><a href="#!" class="block py-4 min-h-12">Impacts</a></li>
  </ul>
</nav>