<nav class="hidden md:block">
  <ul class="flex-col md:flex-row xl:space-x-8 my-0 text-lg flex space-x-0 justify-center">
    <li class="px-4 hover:text-primary bg-gray-300"><a href="#hero">Заказать</a></li>
    <li class="px-4 hover:text-primary"><a href="#portfolio">Портфолио</a></li>
    <li class="px-4 hover:text-primary"><a href="#pricing">Цены</a></li>
    <li class="px-4 hover:text-primary"><a href="#!">Контакты</a></li>
    <li class="px-4 hover:text-primary"><a href="#!">Вопросы</a></li>
  </ul>
</nav>