<section id="portfolio" class="screen portfolio">
  <header class="screen_header">
    <span class="text-xl">Портфолио</span>
    <h2 class="mt-8 text-common text-4xl font-medium">Выполненные работы</h2>
  </header>
  <div class="screen_cards">
    <div class="screen_cards__card">
      <picture class="border border-secondary">
        <source type="image/webp" srcset="/img/portfolio/funiro-first-md.webp" alt="Пример сайта" />
        <img loading="lazy" width="430" height="230" src="/img/portfolio/funiro-first-md.jpg" alt="Пример сайта" class="" />
      </picture>
      <header class="screen_cards__card-header portfolio_header">
        <h4 class="">Bootstrap-4</h4>
        <a href="#" class="screen_cards__card-link">Увеличить</a>
      </header>
    </div>
    <div class="screen_cards__card">
      <picture class="border border-secondary">
        <source type="image/webp" srcset="/img/portfolio/houseVOP-first-md.webp" alt="Пример сайта" />
        <img loading="lazy" width="430" height="230" src="/img/portfolio/houseVOP-first-md.jpg" alt="Пример сайта" class="" />
      </picture>
      <header class="screen_cards__card-header portfolio_header">
        <h4 class="">TailwindCSS 2</h4>
        <a href="#" class="screen_cards__card-link">Увеличить</a>
      </header>
    </div>
    <div class="screen_cards__card">
      <picture class="border border-secondary">
        <source type="image/webp" srcset="/img/portfolio/houseVOP-first-md.webp" alt="Пример сайта" />
        <img loading="lazy" width="430" height="230" src="/img/portfolio/houseVOP-first-md.jpg" alt="Пример сайта" class="" />
      </picture>
      <header class="screen_cards__card-header portfolio_header">
        <h4 class="">TailwindCSS</h4>
        <a href="#" class="screen_cards__card-link">Увеличить</a>
      </header>
    </div>
    <div class="screen_cards__card">
      <picture class="border border-secondary">
        <source type="image/webp" srcset="/img/portfolio/dbco-first-md.webp" alt="Пример сайта" />
        <img loading="lazy" width="430" height="230" src="/img/portfolio/dbco-first-md.jpg" alt="Пример сайта" class="" />
      </picture>
      <header class="screen_cards__card-header portfolio_header">
        <h4 class="">WindiCSS</h4>
        <a href="#" class="screen_cards__card-link">Увеличить</a>
      </header>
    </div>
  </div>
  <button class="btn" aria-label="Посмотреть все работы">Посмотреть все</button>
</section>
