<section class="screen">
  <header class="screen_header">
    <span class="text-xl">Заказать разработку сайта и</span>
    <h2 class="mt-8 text-common text-4xl font-medium">получить </h2>
  </header>
  <div class="screen_cards">
    <div class="screen_cards__card">
      <header class="screen_cards__card-header">
        <img loading="lazy" width="48" height="48" src="/img/speed_icon.png" alt="pic" class="w-12 h-12" />
        <h4 class="text-lg">Новые заказы</h4>
      </header>
      <p class="screen_cards__card-text">Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные
        тексты. Бросил но ведущими собрал толку! Пояс журчит, образ вершину рот, предупреждал текстами коварных знаках
        последний его путь реторический, напоивший предложения.</p>
      <a href="#" class="screen_cards__card-link">Читать далее</a>
    </div>
    <div class="screen_cards__card">
      <header class="screen_cards__card-header">
        <img loading="lazy" width="48" height="48" src="#" alt="pic" class="w-12 h-12" />
        <h4 class="text-lg">Больше продаж</h4>
      </header>
      <p class="screen_cards__card-text">Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные
        тексты. Бросил но ведущими собрал толку! Пояс журчит, образ вершину рот, предупреждал текстами коварных знаках
        последний его путь реторический, напоивший предложения.</p>
      <a href="#" class="screen_cards__card-link">Читать далее</a>
    </div>
    <div class="screen_cards__card">
      <header class="screen_cards__card-header">
        <img loading="lazy" width="48" height="48" src="#" alt="pic" class="w-12 h-12" />
        <h4 class="text-lg">Лояльных клиентов</h4>
      </header>
      <p class="screen_cards__card-text">Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные
        тексты. Бросил но ведущими собрал толку! Пояс журчит, образ вершину рот, предупреждал текстами коварных знаках
        последний его путь реторический, напоивший предложения.</p>
      <a href="#" class="screen_cards__card-link">Читать далее</a>
    </div>
    <div class="screen_cards__card">
      <header class="screen_cards__card-header">
        <img loading="lazy" width="48" height="48" src="#" alt="pic" class="w-12 h-12" />
        <h4 class="text-lg">Снижение расходов</h4>
      </header>
      <p class="screen_cards__card-text">Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные
        тексты. Бросил но ведущими собрал толку! Пояс журчит, образ вершину рот, предупреждал текстами коварных знаках
        последний его путь реторический, напоивший предложения.</p>
      <a href="#" class="screen_cards__card-link">Читать далее</a>
    </div>
  </div>
  <button class="btn" aria-label="Узнать цену">Узнать цену</button>
</section>