<section class="screen">
  <header class="screen_header">
    <span class="text-xl">Что я делаю</span>
    <h2 class="mt-8 text-common text-4xl font-medium">Что Вы получите</h2>
  </header>
  <div class="screen_cards">
    <div class="screen_cards__card">
      <header class="screen_cards__card-header">
        <img src="/img/icons/speed_icon.png" loading="lazy" width="48" height="48" alt="pic" class="w-12 h-12" />
        <h4 class="text-lg">Производительный сайт</h4>
      </header>
      <p class="screen_cards__card-text">Вы получите больше новых клиентов, поскольку пользователи охотнее взаимодействуют с сайтами, которые загружаются быстро.</p>
      <a href="#" class="screen_cards__card-link">Читать далее</a>
    </div>
    <div class="screen_cards__card">
      <header class="screen_cards__card-header">
        <img src="/img/icons/speed_icon.png" loading="lazy" width="48" height="48" alt="pic" class="w-12 h-12" />
        <h4 class="text-lg">Больше продаж</h4>
      </header>
      <p class="screen_cards__card-text">Благодаря быстрой загрузке сайта пользователь может быстрее ознакомиться с предоставляемыми услугами, а значит и заказать их.</p>
      <a href="#" class="screen_cards__card-link">Читать далее</a>
    </div>
    <div class="screen_cards__card">
      <header class="screen_cards__card-header">
        <img src="/img/icons/speed_icon.png" loading="lazy" width="48" height="48" alt="pic" class="w-12 h-12" />
        <h4 class="text-lg">Лояльных клиентов</h4>
      </header>
      <ul class="list-disc ml-24">
        <li>Быстрая загрузка сайта</li>
        <li>Уникальное предложение услуги/товара</li>
        <li>Удобная навигация по странице</li>
        <li>Простая отправка формы заказа</li>
      </ul>
      <p class="screen_cards__card-text">С этими характеристиками пользователи будут возвращаться снова.</p>
      <a href="#" class="screen_cards__card-link">Читать далее</a>
    </div>
    <div class="screen_cards__card">
      <header class="screen_cards__card-header">
        <img src="/img/icons/speed_icon.png" loading="lazy" width="48" height="48" alt="pic" class="w-12 h-12" />
        <h4 class="text-lg">Дешёвый старт</h4>
      </header>
      <ul class="list-disc ml-24">
        <li>Бесплатный хостинг</li>
        <li>Дешёвый домен</li>
        <li>Удобная и минималистичная CMS</li>
      </ul>
      <p class="screen_cards__card-text">Малообъёмные сайты можно разместить на облачном, бесплатном хостинге.</p>
      <a href="#" class="screen_cards__card-link">Читать далее</a>
    </div>
  </div>
  <button class="btn" aria-label="Узнать цену">Узнать цену</button>
</section>